body {
    margin: 0;
}
aside {
    background-color: green;
    width: 25%;
    float: left;
}
aside p {
    margin: 0;
}
.container {
    width: 75%;
    background-color: red;
    float: right;

}
.header h1 {
    text-align: center;
    background-color: gray;
}
.container p {
    margin: 0;
}
.rec {
    width: 50%;
    float: left;
    text-align: center;
}
.rep {
    width: 50%;
    float: right;
    text-align: center;
}